$btn-back-color:                        lightgreen;
$btn-text-color:                        black;
$btn-shadow:                            none;
$btn-radius:                            0px;
$btn-border-style:                      none;
$btn-font-size:                         10px;

@import "_Styles.scss";