@use "sass:map";
@use "sass:color";

@import "_constants.scss";
@import "functions.scss";


//// Base colors

$colors: (
    Brand:               tomato,
    Primary:             violet, 
    Secondary:           limegreen,
    Black:               #17062b,
    White:               white,
    Danger:              #d83a3a,
    Warning:             #f7a436,
    Success:             #0ec988,
    Highlight:           #fff79c
);

// Fonts

$font-size: (
    h1:        56px,
    h2:        36px,
    h3:        24px,
    h4:        16px,
    normal:    14px,
    small:     12px,
    tiny:      10px
);

$text-align: left, right, center;

$module: 4px;

// Shadows

$shadow: (
    enormous:   0 $module*8 $module*32 fade-out(map.get($colors, Black), .7),
    large:      0 $module*4 $module*8 fade-out(map.get($colors, Black), .8),
    medium:     0 $module $module*2 fade-out(map.get($colors, Black), .9),
    small:      0 $module/2 $module/4 fade-out(map.get($colors, Black), .95)
);


// Backgrounds

.Backgrounds {
    // base color styles generation
    @each $key, $value in $colors {
        .#{$key} {
            background-color: $value;
        } 
    }
    
    // shades generation
    .Neutrals {
        @for $index from 1 through 7 {
            .Neutral-#{$index} {
                background-color: tint(map.get($colors, Black), 45% + ($index)*50%/7);
            } 
        }
    }

    // Stage background
    .Stage {
        background-color: tint(map.get($colors, Black), 98%);
    }
}

// Elevated backgrounds w/Shadow

.Backgrounds .Elevated {
    @each $key, $value in $colors {
    .#{$key} {
        background-color: $value;
        box-shadow: map.get($shadow, large);
    } 
    }
    // shades generation
    .Neutrals {
        @for $index from 1 through 7 {
            .Neutral-#{$index} {
                background-color: tint(map.get($colors, Black), 45% + ($index)*50%/7);
                box-shadow: map.get($shadow, large);
            } 
        }
    }
}


// Texts generation: Size/Alignment/Color

@each $ks,$vs in $font-size {
    
    .#{$ks}Size {
        @each $va in $text-align {
            $ia: index(($text-align), ($va));
            .#{$va}Aligned {
                @each $key, $value in $colors {
                    .#{$key} {
                        color: $value;
                        font-size: $vs;
                        font-family: "Open Sans";
                        text-align: $va;
                        vertical-align: middle;
                        line-height: 1.25;
                    }
                }

                // Contrast text colors subset generation
                .ContrastTo {
                    //Base colors
                    @each $key, $value in $colors {
                        .#{$key} {
                            color: contrast($value); // getting a color contrast to a given color
                            font-size: $vs;
                            text-align: $va;
                            vertical-align: middle;
                            line-height: 1.25;
                        }
                    }
                    //Neutral colors 
                    @for $index from 1 through 7 {
                        .Neutral-#{$index} {
                            color: contrast(tint(map.get($colors, Black), 45% + ($index)*50%/7));
                            font-size: $vs;
                            text-align: $va;
                            vertical-align: middle;
                            line-height: 1.25;
                        } 
                    }
                }
            }
        }
    }
}


// Gradient Backgrounds

.Gradients {
    .Brand-Primary {
        background-color: linear-gradient(45deg, map.get($colors, Brand), map.get($colors, Primary));
    }
    .Brand-Secondary {
        background-color: linear-gradient(45deg, map.get($colors, Brand), map.get($colors, Secondary));
    }
    .Brand-Highlight {
        background-color: linear-gradient(45deg, map.get($colors, Brand), map.get($colors, Highlight));
    }
}

// Shadows Backgrounds

.Shadows .Primary {
    @each $key, $value in $shadow {
        .#{$key}Size {
            background-color: map.get($colors, White);
            box-shadow: $value;
        }
        .Inner {
            .#{$key}Size {
                background-color: map.get($colors, White);
                box-shadow: inset $value;
            }
        }
    }
    
}


//// Symbols styles

#Buttons {
    #PrimarySmall .Back {
        border-radius: $module;
    }
    #PrimaryMedium .Back {
        border-radius: $module*2;
    }
    #PrimaryLarge .Back {
        border-radius: $module*4;
    }
}



