// Creating a gradient trying to add opacity

@token: {
    colourA: fade(#20CC20,0.5);
    colourB: #CC2020;
}

.gradients .linear-gradient-opacity {
    background-color:      linear-gradient(20deg,@token[colourA] 10%, @token[colourB] 80%);
}

.gradients .radial-gradient-opacity {
    background-color:      radial-gradient(red 10px,@token[colourA] 10%, @token[colourB] 80%);
}